@model IEnumerable<GestionSchoolNew.Models.Professeur>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomProf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrenomProf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusProf)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomProf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrenomProf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusProf)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdProf }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdProf }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdProf })
        </td>
    </tr>
}

</table>
