@model GestionSchoolNew.Models.Tranche

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tranche</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LibelleTranche)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LibelleTranche)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePayement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePayement)
        </dd>
      
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdTranche }) |
    @Html.ActionLink("Back to List", "Index")
</p>
