@model IEnumerable<GestionSchoolNew.Models.Obtenir>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._DateNote)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._DateNote)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdObtenir }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdObtenir }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdObtenir })
        </td>
    </tr>
}

</table>
